*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
.float-left{
  float: left;
}

.mt-20{
  margin-top: 20px;
}

.mt-30{
  margin-top: 30px;
}

.br-10{
  border-radius: 10px;
}
/*Fine Utility*/

body{
  background-image: url("../img/natural-default-pattern.png");
}

.container{
  width: 1000px;
  margin: auto;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

header{
  width: 1000px;
  height: 300px;
  position: relative;
  text-align: center;
}

#intestazione{
  width: 1000px;
  height: 260px;
  border: 10px solid white;
  background-image: url("../img/natural-default-header.jpg");
  background-size: cover;
  background-position: center;
}

.logo{
  width: 40%;
}

h1{
  color: white;
}


nav{
  width: 1000px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #504741;
}


nav > ul > li{
  /*0 pixel sopra e sotto, 10px sinistra e destra*/
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

nav > ul > li:hover{
  background-color: darkgrey;
}

nav > ul > li > a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  display: inline-block;
  height: 100%;
}

nav > ul > li > a:hover{
  text-decoration: underline;
}

aside.temi{
  width: 20%;
  background: white;
  padding: 20px;
}

.rss{
  color: orange;
  cursor: pointer;
  padding-right: 8px;
}

h2{
  font-size: 1.1em;
}

aside.temi ul > li{
  list-style: none;
  color: green;
  padding: 8px;
}

aside.temi ul > li:hover{
  text-decoration: underline;
  cursor: pointer;
}

main{
  width: 50%;
  background: white;
  padding: 20px;
  margin: 0 5%;
}

main h2{
  text-shadow: 2px 2px 2px grey;
  padding-bottom: 10px;
}

p{
  line-height: 2em;
}

aside.contenitore-widgets{
  width: 20%;
  height: 1000px;
  background: pink;
}

footer{
  width: 1000px;
  height: 150px;
  text-align: center;
  margin-bottom: 20px;
  background-color: lightgrey;
  color: grey;
}
